<html>
<head>
  <meta charset="UTF-8" http-equiv="refresh" content="8">
  <title>Musikquiz</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<table class="last_song">
    <thead>
    <tr>
        <th class="last_song">
            <p>&nbsp</p>
        </th>
    </thead>
    <tbody>
        <tr>
            <td class="last_song"><img src="{{ url_for('static', filename='cover/{}'.format(image)) }}" alt="Cover" style="width: 800px; height: 800px;"></img> &nbsp
            </td>
        </tr>
        <tr>
            <!-- <td class="lastsong">&nbsp{{last_song.get("title","")}} - {{last_song.get("artist","")}} ({{last_song.get("year","")}})</td> -->
        </tr>
    </tbody>
</table>
</body>
</html>
