<html>
<head>
  <meta charset="UTF-8" http-equiv="refresh" content="1">
  <title>Musikquiz</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<table>
<thead>
    <tr><th class="roundname">{{points['round_name']}}</th></tr>
    <tr><td class="lastsong">letzte Frage:</td></tr>
    <tr><th class="lastsong">{{last_question.get("question","-")}} - {{last_question.get("answer","-")}}</th></tr>
</thead>

<tbody>
    <tr>
    <td>
        <table class="scoreboard"><thead>
        <tr class="scoreboard">
            <th class="player">{{points['player_1_name']}}</th>
            <th></th>
            <th class="player">{{points['player_2_name']}}</th>
            <th></th>
            <th class="player">{{points['player_3_name']}}</th>
            <th></th>
            <th class="player">{{points['player_4_name']}}</th>
        </tr></thead>
        <tr>
            <td class="player">&nbsp&nbsp{{points['player_1_points']}}&nbsp&nbsp</td>
            <td class="player">:</td>
            <td class="player">&nbsp&nbsp{{points['player_2_points']}}&nbsp&nbsp</td>
            <td class="player">:</td>
            <td class="player">&nbsp&nbsp{{points['player_3_points']}}&nbsp&nbsp</td>
            <td class="player">:</td>
            <td class="player">&nbsp&nbsp{{points['player_4_points']}}&nbsp&nbsp</td>
        </tr>
        </table>
    </td>
    </tr>
    <tr><td class="lastsong">Punkte zu vergeben: {{points['points_to_play']}}</td></tr>

</tbody>
</table>
</body>
</html>
