<html>
<head>
  <meta charset="UTF-8" http-equiv="refresh" content="1">
  <title>Musikquiz</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<table class="countdown">
    <thead>
        <tr>
            <th class="countdown">
                <p>Quiz</p>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="countdown">&nbsp{{countdown['daytext']}}&nbsp
            </td>
        </tr>
        <tr>
            <td class="countdown">&nbsp{{countdown['hours']}}:{{countdown['minutes']}}:{{countdown['seconds']}}&nbsp</td>
        </tr>
    </tbody>
</table>
</body>
</html>
